.form-control{
	margin-top: 5px;
}
.corpo{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}
.center{
	text-align: center;
}

.btn-primary{
	margin-top: 5px;
}

.tabela{
	margin-top: 5px;
}

.quantidades{
	margin-left: 20px;
}

.esquerda{
	float: left;
	margin: 5px
}

.s450{
	width: 550px;
}

.direita{
	text-align: right;
}

.card{
	margin-bottom: 10px;
}

.finalizado{
	background-color: #b30000;
}

.separado{
	background-color: #ffff1a;
}

.preparado{
	background-color: #77b300;
}