.form-control{
	margin-top: 5px;
}
.corpo{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.center{
	text-align: center;
}

.btn-primary{
	margin-top: 5px;
}

.tabela{
	margin-top: 5px;
}

.quantidades{
	margin-left: 20px;
}

.esquerda{
	float: right;
	margin: 5px
}

.s450{
	width: 450px;
}